<h2>New User</h2>

<form action="/create_user">
  <input type="text" name="url" placeholder="Image url">
  <input type="text" name="caption" placeholder="caption">
  <input type="text" name="bio" placeholder="Biography">
  <input type="submit">
</form>